.inline-block {
  list-style: none;
}
input:invalid + small + small {
  display: none;
}

input:valid + small {
  display: none;
}
/*#list-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}*/
#list-grid {
  display: grid;
  grid-template-columns: 200px repeat(4, 80px);
  align-items: center;
}
